.nav {
  display: flex;
  background-color: #e8e8e8;
  box-shadow: #e8e8e8;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav__element {
  margin-right: 30px;
  display: flex;
  align-items: center;
  font-size: 30px;
  text-decoration: none;
  color: black;
  padding: 15px;
  border-radius: 25px;
}

.nav__element:hover,
.nav__element:focus {
  color: palevioletred;
  /* background-color: aqua; */
}
