.container__details {
  padding-top: 10px;
  margin-top: 5px;
}

.container__info {
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
}

.container__movie {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.backButton {
  margin-left: 10px;
  border: solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 5px;
}

.score {
  font-size: 25px;
}

.overview {
  font-size: 30px;
  font-weight: bold;
}

.overview__text {
  font-size: 20px;
}

.genre {
  font-size: 30px;
  font-weight: bold;
}

.genre__item {
  font-size: 20px;
}

.add__info {
  display: flex;
  flex-direction: column;
}

.details__element {
  margin-bottom: 10px;
  font-size: 20px;
}

.add__infoText {
  font-size: 25px;
  font-weight: bold;
}

.container__addInfo {
  border-top: solid gray;
  border-bottom: solid gray;
}

.release {
  font-size: 25px;
}

.poster {
  height: 630px;
  width: 600px;
}
