.container__details {
  padding-top: 10px;
  margin-top: 5px;
}

.container__info {
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
}

.container__movie {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.backButton {
  margin-left: 10px;
  border: solid whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 5px;
}

.score {
  font-size: 25px;
}

.overview {
  font-size: 30px;
  font-weight: bold;
}

.overview__text {
  font-size: 20px;
}

.genre {
  font-size: 30px;
  font-weight: bold;
}

.genre__item {
  font-size: 20px;
}

.add__info {
  display: flex;
  flex-direction: column;
}

.details__element {
  margin-bottom: 10px;
  font-size: 20px;
}

.add__infoText {
  font-size: 25px;
  font-weight: bold;
}

.container__addInfo {
  border-top: solid gray;
  border-bottom: solid gray;
}

.release {
  font-size: 25px;
}

.poster {
  height: 630px;
  width: 600px;
}
